/* .navigation {
 background-color: #150300; 
 padding: 15px;
 margin-top: 25px;
 display: block;

}

.navigation nav a {
  color: white;
}

.active {
  text-decoration: none;
  
}
.discover{
  text-align: center;
}

.paragraph {
  text-align: center;
  width: 300px;
  display: inline-block;
  border: 1px solid #150300
}

.image {
  display: inline-block
} */
